<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sakuraweb.fotopota.coffeemaker">

    <application
        android:name=".StartApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".ui.equip.EquipEditActivity"></activity>
        <activity android:name=".ui.equip.EquipListActivity" />
        <activity android:name=".ui.takeouts.select.TakeoutSelectActivity" />
        <activity android:name=".ui.takeouts.TakeoutDetailsActivity" />
        <activity android:name=".ui.takeouts.TakeoutEditActivity" />
        <activity android:name=".ui.takeouts.TakeoutListActivity" />
        <activity android:name=".ui.beans.select.BeansSelectActivity" />
        <activity android:name=".ui.beans.BeansDetailsActivity" />
        <activity android:name=".ui.beans.BeansEditActivity" />
        <activity android:name=".ui.beans.BeansListActivity" />
        <activity android:name=".ui.brews.BrewDetailsActivity" />
        <activity android:name=".ui.brews.BrewEditActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>